body    {
    margin:  0;
    padding:  0;
}

header  {
    background-color:  red;
    color:  white;
    padding:  20px;
    text-align:  center;
}

section {
    background-color: yellow;
    padding:  20px;
}

.paragraph  {

}

.list ul li.delete  {
    color:  gray;
    text-decoration: line-through;
}

footer  {
    background-color: green;
    padding-left:  20%;
    padding-top:  20px;

}