body    {
    margin:  0;
    padding:  0;
}

header  {
    background-color:  red;
    padding:  20px;
    text-align:  center;
}

section {
    background-color: yellow;
}

footer  {
    background-color: green;
}